[tools]
## Stack
node = { version = "lts", postinstall = "corepack enable" }
rust = "stable"
"cargo:genotype_cli" = "latest"
uv = "0.8.15"                                               # Python
# TODO: Consider moving this to Mothership image, so tools like `dasel` can be installed.
# Alternatively write a Playbook to install it from GitHub releases.
go = "latest"

# Cargo
"cargo:cargo-nextest" = "latest"
"cargo:cargo-insta" = "latest"

## Tools
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@openai/codex" = "latest"
"npm:opencode-ai" = "latest"
"cargo:wasm-pack" = "latest"
# TODO: Try it again (`bacon nextest --no-fail-fast`) when the scroll in VC Code
# is fixed: https://github.com/Canop/bacon/issues/174
# "cargo:bacon" = "latest"
"cargo:watchexec-cli" = "latest"
# TODO: Will include with latest Mothership image, so can remove after updating
"cargo:jaq" = "latest"
"cargo:toml2json" = "latest" # Convert Toml to JSON
"npm:turbo" = "latest"
"npm:prettier" = "latest"                  # Code formatter
"go:github.com/tomwright/dasel/v3/cmd/dasel" = "master" # JSON/YAML/TOML processor
age = "latest" # Encryption tool
fnox = "latest" # Secrets

[env]
_.source = "./scripts/env-vars.sh"
# TODO: Python venv setting makes mise stuck, investigate later.
# _.python.venv = { path = ".venv", create = true }

[settings]
# Enable extra features
experimental = true
# Consume Node.js version from .nvmrc, .tool-versions, etc.
idiomatic_version_file_enable_tools = ["rust"]
# Auto env with uv
python.uv_venv_auto = true
